<h1>新規登録</h1>
<% if @house_information.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@house_information.errors.count, "error") %> prohibited this house_information from being saved:</h2>
    <ul>
    <% @house_information.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', house_information: @house_information %>

<%= link_to '戻る', house_informations_path %>
