// Place all the styles related to the HouseInformations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#house_rent{
  width:7rem;
}

#adress{
  width:8rem;
}

#remark_column{
  width: 8rem;

}

#property{
  text-align: right;
}
